@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@400;500;700&family=Roboto:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* some special custom css */
.myMargin50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.text-center{
    text-align: center;
}
/* giving some max with for website  */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* menu */
header nav {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
header nav h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #3A3A3A;
}
.desktop-menu {
    display: flex;
    align-items: center;
    list-style: none;
}
.desktop-menu li a{
    margin-right: 34px;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
}
.shop {
    display: none;
}

/* hero area design */
.hero-area {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 120px 0;


}
.hero-area:hover{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}
.hero-area:hover h1,.hero-area:hover p{
    color: #ffffff;
}

.hero-text {
    max-width: 40%;
}
.hero-text h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
    color: #3A3A3A;
}
.hero-text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.hero-text a {
    background: #E02C6D;
    border-radius: 41px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 24px;
}
.hero-img {
    background-image: url('../images/background.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Hero area animayions */
.float { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 

.hero-img img {
    width: 100%;
}

/* partner area design */
.group-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-top: 1px solid #ebebeb7a;
    border-bottom: 1px solid #ebebeb7a;
}

/* popular collection card section */

.Popular-Collection h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
    color: #3A3A3A;
}
.grid-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 30px;
}
.card-box {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    border-radius: 5px;
    max-width: 329px;
    padding: 15px;
}



.feature-img {
    display: flex;
    justify-content: center;
}
.feature-img img {
    width: 100%;
}
.card-details h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
}
.card-details p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.87);
}
.review-star{
    display: flex;
    align-items: flex-end;
}
.review-star .star i {
    color: #FB8200;
}
.review-star span{
    margin-left: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #5E6366;
}
.card-details ul {
    list-style: none;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.018em;
    color: #787885;
}
.grid-box a {
    grid-column: 3 / 3;
    text-align: end;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
}
/* subscription */
.subscription-plan {
    display: flex;
    align-items: center;
    padding: 50px 0;
    background: linear-gradient(-45deg , #ee7752, #3375a1, #23a6d5, #0A0826);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    flex-direction: column;
}
.subscription-plan h2 {
    font-family:"Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 60px;
    color: #ffffff;
}

.subscription-plan p {
    font-family:"Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}
 #subscription input#email {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}
#subscription button {
    background-color: #E02C6D;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
}



/* Footer */
footer{
    background: #0A0826;
    padding: 20px 0;
}

footer .bottom-footer h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #FFFFFF;
        padding: 10px 0;
}
footer .bottom-footer p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
}

.bottom-footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 20px 0;
}
.bottom-footer ul li{
    margin-right: 30px;
}
.bottom-footer ul li a i {
    background: #22203B;
    border-radius: 100%;

    padding: 11px;
}
.bottom-footer ul li a i::before {
    color: #ffffff;
    font-size: 20px;
    line-height: 25px;
  
}
/* KeyFrame  */
@keyframes gradient {
    0% {

        background-position: 0% 50%;
    }
    50% {

        background-position: 100% 50%;
    }
    100% {

        background-position: 0% 50%;
    }
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }


/*===============================
            Tab Media Query}
=================================*/

@media (min-width: 768px) and (max-width: 1024px) {
    .hero-area {
        padding: 50px 20px;
    }
    .hero-text h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .hero-img {
        text-align: end;
    }
    .hero-img img {
        width: 70%;
    }
    .grid-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
  }


  
/*===============================
            Mobile Media Query}
=================================*/

@media (min-width: 0px) and (max-width: 767px) {
    .shop {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }
    .shop li a i{
        color: #000;
    }
    .desktop-menu{
        display: none;
    }
    .hide-menu{
        display: none;
    }
    .hero-area {
        display: flex;
        flex-direction: column-reverse;
        padding: 50px 20px;
    }
    .hero-text {
        max-width: 100%;
        text-align: center;
    }
    .hero-text h1 {
        font-size: 25px;
        line-height: 40px;
    }
    .group-img {
        display: flex;
        flex-wrap: wrap;
        padding: 50px 20px;
    }
    .grid-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
  }